//
// Icon
//

// For the all elements with icon options

.elementor-icon {
	display: inline-block;
	line-height: 1;
	transition: $transition-hover;
	color: $gray;
	font-size: 50px;
	text-align: center;

	&:hover {
		color: $gray;
	}

	i, svg {
		width: 1em;
		height: 1em;
		position: relative;
		display: block;

		&:before {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.elementor-view-stacked {

	.elementor-icon {
		padding: .5em;
		background-color: $gray;
		color: #fff;
		fill: #fff;
	}
}

.elementor-view-framed {

	.elementor-icon {
		padding: .5em;
		color: $gray;
		border: 3px solid $gray;
		background-color: transparent;

	}
}

.elementor-shape {

	&-circle {

		.elementor-icon {
			border-radius: 50%;
		}
	}

	&-hexagon {

		.elementor-icon {
			clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

			i, svg {
				line-height: 1.2;
			}
		}
	}

	&-diamond {

		.elementor-icon {
			transform: rotate(45deg);
			margin: 2% 0;

			i, svg {
				transform: rotate(-45deg);

			}
		}
	}
}
